include ../paginator/paginator
include ../filter/filter

mixin page_text(data)
    section.page-content
        header.page-content-header
            h1 Тестовая страница

        .content
            h2 Заголовок новостей на главной, в списках, ФИО руководителя, подзаголовки на страницах
            h3 Заголовок новостей подведомственных организаций на главной, заголовок 3 уровня на страницах, названия документов в списках

            form.form.form_wide(action="")
                fieldset.form-fieldset
                    .row.form-row
                        .column.large-6.small-6
                            .form-wrap
                                label(for="surname").required Фамилия
                                input.form-text#surname(type="text", name="surname", required)
                    .row.form-row
                        .column.large-6.small-6
                            .form-wrap
                                label(for="surname").required Фамилия
                                input.form-text.error#surname(type="text", name="surname", required)
                                label.error Вы забыли заполнить поле
                    .row.form-row
                        .column.large-6.small-6
                            .form-wrap
                                label(for="subject").required Субъект Российской Федерации
                                select.form-select.js-select#subject(data-menuclass="form-select-6", required)
                                    option 1
                                    option 2
                                    option 3
                                    option 1
                                    option 2
                                    option 3
                                    option 1
                                    option 2
                                    option 3
                                    option 1
                                    option 2
                                    option 3
                    .row.row-9.form-row
                            .column.large-2.small-2
                                .form-wrap
                                    input.form-radio#onemail(type="radio", name="answer")
                                    label.form-radio-label(for="onemail") На электронную почту
                            .column.large-2.small-2.end
                                .form-wrap
                                    input.form-radio#onmail(type="radio", name="answer")
                                    label.form-radio-label(for="onmail") В письменной форме
                    .row.row-9.form-row
                            .column.large-2.small-2
                                .form-wrap
                                    input.form-checkbox#onemail2(type="checkbox", name="answer2")
                                    label.form-checkbox-label(for="onemail2") На электронную почту
                            .column.large-2.small-2.end
                                .form-wrap
                                    input.form-checkbox#onmail2(type="checkbox", name="answer3")
                                    label.form-checkbox-label(for="onmail2") В письменной форме
                fieldset.form-fieldset
                    h2 Обращение
                        span.required *
                    .row.form-row
                        .column.large-6.small-6
                            .form-wrap
                                label(for="message") Не более 5000 символов
                                textarea.form-textarea#message(required)

            br
            br
            br
            .row
                .column.large-9.small-9
                    .filter-opened
                        +filter('documents')


            h2 Полномочия
            p Руководитель Федерального агентства научных организаций назначается на должность Правительством Российской Федерации по согласованию с Президентом Российской Федерации.
            h2 Функции
            p Федеральное агентство научных организаций в своей деятельности руководствуется Конституцией Российской Федерации, федеральными конституционными законами, международными договорами Российской Федерации, федеральными законами, актами Президента Российской Федерации и Правительства Российской Федерации, а также Постановлением Правительства Российской Федерации от 25 октября 2013 года №959.
            h5 Синий заголовок
            p Федеральное агентство научных организаций в своей деятельности руководствуется Конституцией Российской Федерации, федеральными конституционными законами, международными договорами Российской Федерации, федеральными законами, актами Президента Российской Федерации и Правительства Российской Федерации, а также Постановлением Правительства Российской Федерации от 25 октября 2013 года №959.
            h2 Публичные цели 
            p Федеральное агентство научных организаций в своей деятельности руководствуется Конституцией Российской Федерации, федеральными конституционными законами, международными договорами Российской Федерации, федеральными законами, актами Президента Российской Федерации и Правительства Российской Федерации, а также Постановлением Правительства Российской Федерации от 25 октября 2013 года №959.
            h3 Цель 1
            ul.list
                li Совершенствование структуры научных организаций, подведомственных ФАНО России;
                li Развитие кадрового потенциала научных организаций и формирование кадрового  резерва;  
                li Повышение информационной открытости ФАНО России; 
                li Формирование системы оценки результативности научных организаций.
            h3 Цель 2
            ul.list
                li Совершенствование структуры научных организаций, подведомственных ФАНО России;
                li Развитие кадрового потенциала научных организаций и формирование кадрового  резерва;  
                li Повышение информационной открытости ФАНО России; 
                li Формирование системы оценки результативности научных организаций.

            h2 Таблица (.lines-table)
            table.lines-table
                tr
                    th
                        | Идентификационный номер
                    td
                        | 7752639584-podv
                tr
                    th
                        | Наименование набора данных
                    td
                        | Организации, находящиеся в ведении ФАНО России
                tr
                    th
                        | Описание набора данных
                    td
                        | Перечень и функции организаций, находящихся в ведении ФАНО России
                tr
                    th
                        | Владелец набора данных
                    td
                        | ФАНО России
                tr
                    th
                        | Ответственное лицо
                    td
                        | Иванов Иван Иванович
                tr
                    th
                        | Телефон ответственного лица
                    td
                        | 8-499-589-65-98


            h2 Таблица (.basic-table2)

            table.basic-table2
                tr
                    th Название столбца
                    th Название столбца
                    th Название столбца
                tr
                    td Организации, находящиеся в ведении ФАНО России
                    td Организации, находящиеся в ведении ФАНО России
                    td Организации, находящиеся в ведении ФАНО России
                tr
                    td Перечень и функции организаций, находящихся в ведении ФАНО России
                    td Перечень и функции организаций, находящихся в ведении ФАНО России
                    td Перечень и функции организаций, находящихся в ведении ФАНО России
                tr
                    td ФАНО России
                    td ФАНО России
                    td ФАНО России
                tr
                    td Иванов Иван Иванови
                    td Иванов Иван Иванови
                    td Иванов Иван Иванови

            h2 Таблица (.basic-table)

            table.basic-table
                tr
                    th Название столбца
                    th Название столбца
                    th Название столбца
                tr
                    td Организации, находящиеся в ведении ФАНО России
                    td Организации, находящиеся в ведении ФАНО России
                    td Организации, находящиеся в ведении ФАНО России
                tr
                    td Перечень и функции организаций, находящихся в ведении ФАНО России
                    td Перечень и функции организаций, находящихся в ведении ФАНО России
                    td Перечень и функции организаций, находящихся в ведении ФАНО России
                tr
                    td ФАНО России
                    td ФАНО России
                    td ФАНО России
                tr
                    td Иванов Иван Иванови
                    td Иванов Иван Иванови
                    td Иванов Иван Иванови
            .paginator-full
                +paginator





              


            
       