mixin page_sitemap(data, active)
	div.sitemap
		ul.sitemap-menu
			each val in data.links 
				li.sitemap-item
					h2 
						a(href=val.url)=val.title
					ul
						li
							a(href="#") О ФАНО России
						li
							a(href="#") Руководство
						li
							a(href="#") Центральный аппарат
						li
							a(href="#") Территориальные управления
						li
							a(href="#") Подведомственные организации
						li
							a(href="#") Госслужба в ФАНО России
						li
							a(href="#") Государственные услуги и функции
						li
							a(href="#") Новости
						li
							a(href="#") Информация для СМИ
						li
							a(href="#") Подписка
							ul
								li
									a(href="#") Новости
								li
									a(href="#") Информация для СМИ
								li
									a(href="#") Подписка
								li
									a(href="#") Новости
								li
									a(href="#") Информация для СМИ
								li
									a(href="#") Подписка
									ul
										li
											a(href="#") Планирование деятельности
										li
											a(href="#") Контрольно-ревизионная деятельность
										li
											a(href="#") Госзакупки
										li
											a(href="#") Противодействие коррупции
										li
											a(href="#") Координационные и совещательные органы
										li
											a(href="#") Открытые данные
						li
							a(href="#") Новости
						li
							a(href="#") Информация для СМИ
						li
							a(href="#") Подписка
							ul
							li
								a(href="#") Планирование деятельности
							li
								a(href="#") Контрольно-ревизионная деятельность
						li
							a(href="#") Госзакупки
							ul
								li
									a(href="#") Противодействие коррупции
								li
									a(href="#") Координационные и совещательные органы
								li
									a(href="#") Открытые данные
		
