mixin anons-news(data)
    section.anons
        header.anons__header
            a.anons__all(href="#") 
                span Все новости
            h1 Новости подведомственных организаций
            
        .anons__content
            .row
                .large-6.small-6.columns
                    ul.anons-list
                        li
                            time 26.09.2015
                            p 
                                a(href="#") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
                        li
                            time 24.09.2015
                            p 
                                a(href="#") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
                .large-6.small-6.columns
                    ul.anons-list
                        li
                            time 22.09.2015
                            p 
                                a(href="#") Ученого Физического института имени П.Н. Лебедева наградили Орденом Дружбы
                        li
                            time 18.09.2015
                            p 
                                a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
                        li
                            time 16.09.2015
                            p 
                                a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
