include ../paginator/paginator
include ../filter/filter
mixin page_questions(data)
    section.page-content
        header.page-content-header
            h1 Популярные вопросы

        ul.anons-list.anons-list_questions
            li
                time 26.09.2015
                p 
                    a(href="#") Постановление Правительства Российской Федерации от 05.06.2014 № 521 «Об утверждении Положения о порядке и сроках согласования и утверждения кандидатур на должность руководителя научной организации, переданной в ведение Федерального агентства научных организаций»
                .doc-links    
                    a(href="#") doc, 2.7Mb
                    a(href="#") xsl, 1.7Mb
                    a(href="#") pdf, 5.1Mb
            li
                time 18.08.2015
                p 
                    a(href="#") Приказ ФАНО России от 08.06.2015 №17н «О включении жилых помещений жилищного фонда Российской Федерации, закрепленных за Федеральным агентством научных организаций, территориальными органами Федерального агентства научных организаций и организациями, подведомственными Федеральному агентству научных организаций, на праве оперативного управления и хозяйственного ведения, в специализированный жилищный фонд с отнесением таких помещений к определенному виду жилых помещений специализированного жилищного фонда, а также исключении жилых помещений из специализированного жилищного фонда, предоставлении служебных жилых помещений в центральном аппарате и территориальных органах Федерального агентства научных организаций, предоставлении служебных жилых помещений или жилых помещений в общежитиях в организациях, подведомственных Федеральному агентству научных организаций»
                .doc-links
                    a(href="#") doc, 2.7Mb
                    a(href="#") xsl, 1.7Mb
                    a(href="#") pdf, 5.1Mb
            li
                time 26.09.2015
                p 
                    a(href="#") Постановление Правительства Российской Федерации от 05.06.2014 № 521 «Об утверждении Положения о порядке и сроках согласования и утверждения кандидатур на должность руководителя научной организации, переданной в ведение Федерального агентства научных организаций»
                .doc-links    
                    a(href="#") doc, 2.7Mb
                    a(href="#") xsl, 1.7Mb
                    a(href="#") pdf, 5.1Mb
            li
                time 18.08.2015
                p 
                    a(href="#") Приказ ФАНО России от 08.06.2015 №17н «О включении жилых помещений жилищного фонда Российской Федерации, закрепленных за Федеральным агентством научных организаций, территориальными органами Федерального агентства научных организаций и организациями, подведомственными Федеральному агентству научных организаций, на праве оперативного управления и хозяйственного ведения, в специализированный жилищный фонд с отнесением таких помещений к определенному виду жилых помещений специализированного жилищного фонда, а также исключении жилых помещений из специализированного жилищного фонда, предоставлении служебных жилых помещений в центральном аппарате и территориальных органах Федерального агентства научных организаций, предоставлении служебных жилых помещений или жилых помещений в общежитиях в организациях, подведомственных Федеральному агентству научных организаций»
                .doc-links
                    a(href="#") doc, 2.7Mb
                    a(href="#") xsl, 1.7Mb
                    a(href="#") pdf, 5.1Mb
            li
                time 26.09.2015
                p 
                    a(href="#") Постановление Правительства Российской Федерации от 05.06.2014 № 521 «Об утверждении Положения о порядке и сроках согласования и утверждения кандидатур на должность руководителя научной организации, переданной в ведение Федерального агентства научных организаций»
                .doc-links    
                    a(href="#") doc, 2.7Mb
                    a(href="#") xsl, 1.7Mb
                    a(href="#") pdf, 5.1Mb
            li
                time 18.08.2015
                p 
                    a(href="#") Приказ ФАНО России от 08.06.2015 №17н «О включении жилых помещений жилищного фонда Российской Федерации, закрепленных за Федеральным агентством научных организаций, территориальными органами Федерального агентства научных организаций и организациями, подведомственными Федеральному агентству научных организаций, на праве оперативного управления и хозяйственного ведения, в специализированный жилищный фонд с отнесением таких помещений к определенному виду жилых помещений специализированного жилищного фонда, а также исключении жилых помещений из специализированного жилищного фонда, предоставлении служебных жилых помещений в центральном аппарате и территориальных органах Федерального агентства научных организаций, предоставлении служебных жилых помещений или жилых помещений в общежитиях в организациях, подведомственных Федеральному агентству научных организаций»
                .doc-links
                    a(href="#") doc, 2.7Mb
                    a(href="#") xsl, 1.7Mb
                    a(href="#") pdf, 5.1Mb
        +paginator(true)
            
        