include ../paginator/paginator
include ../filter/filter
mixin page_search(data)
    section.page-content
        header.page-content-header
            h1 Поиск

        +filter('search')
        ul.anons-list.search-list
            li.search-list-item.search-list-item_FAQ
                time 26.09.2015
                p 
                    a(href="#") Постановление Правительства Российской Федерации от 05.06.2014 № 521 «Об утверждении Положения о порядке и сроках согласования и утверждения кандидатур на должность руководителя научной организации, переданной в ведение Федерального агентства научных организаций»
                
            li.search-list-item.search-list-item_PRESS_CENTER
                div.news-main__stat.news-main__stat_nolink
                        time 19.09.2015
                    
                a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
                div.news-list__content
                    | Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность
                
            li.search-list-item.search-list-item_LIBRARY
                time 26.09.2015
                p 
                    a(href="#") Постановление Правительства Российской Федерации от 05.06.2014 № 521 «Об утверждении Положения о порядке и сроках согласования и утверждения кандидатур на должность руководителя научной организации, переданной в ведение Федерального агентства научных организаций»
                
            
        +paginator(true)
            
        