include ../star_rating/star_rating

mixin circle_rating(data)
    .circle-rating.circle-rating_static(data-score="3.5")
        strong
        span (144)

mixin page_open_data(data)
    section.page-content
        header.page-content-header
            h1 Открытые данные
        .content
            p Приказ ФАНО России от 22.09.2015 № 35н «Об утверждении Перечня должностей, замещаемых на основании трудового договора, в организациях, созданных для выполнения задач, поставленных перед Федеральным агентством научных организаций, замещение которых влечет за собой размещение сведений о доходах, расходах, об имуществе и обязательствах имущественного характера, а также сведений о доходах, расходах, об имуществе и обязательствах имущественного характера их супруг (супругов) и несовершеннолетних детей на официальном сайте Федерального агентства научных организаций в информационно-телекоммуникационной сети «Интернет»
            h2 Реестр наборов Открытых данных
            .doc-links    
                a.no-decoration(href="#") CSV, 558 Mb
        table.open-data-table
            tr
                td.open-data-table__num
                    | 1
                td.open-data-table__name
                    a(href="/open_data_one.html") Контрольно-ревизионная деятельность
                td.nowrap
                    a.no-decoration.seablue(href="#") CSV, 1.7 Mb
                td
                    span.views 1200
                td
                    +star_rating
                td
                    +circle_rating
            tr
                td.open-data-table__num
                    | 2
                td.open-data-table__name
                    a(href="/open_data_one.html") Госзакупки
                td.nowrap
                    a.no-decoration.seablue(href="#") CSV, 1.7 Mb
                td
                    span.views 1200
                td
                    +star_rating
                td
                    +circle_rating
            tr
                td.open-data-table__num
                    | 3
                td.open-data-table__name
                    a(href="#") Противодействие коррупции
                td.nowrap
                    a.no-decoration.seablue(href="#") CSV, 1.7 Mb
                td
                    span.views 1200
                td
                    +star_rating
                td
                    +circle_rating
            tr
                td.open-data-table__num
                    | 4
                td.open-data-table__name
                    a(href="#") Координационные и совещательные органы
                td.nowrap
                    a.no-decoration.seablue(href="#") CSV, 1.7 Mb
                td
                    span.views 1200
                td
                    +star_rating
                td
                    +circle_rating
            tr
                td.open-data-table__num
                    | 5
                td.open-data-table__name
                    a(href="#") Организации, находящиеся в ведении ФАНО России
                td.nowrap
                    a.no-decoration.seablue(href="#") CSV, 1.7 Mb
                td
                    span.views 1200
                td
                    +star_rating
                td
                    +circle_rating
        .content
            h2 Условия использования открытых данных
            p
                | Начало использования открытых данных, размещенных в сети Интернет, является действием, подтверждающим согласие пользователя с условиями соглашения.
            P
                | Пользователь вправе использовать (в том числе повторно) открытые данные свободно, бессрочно, безвозмездно и без ограничения территории использования, в том числе имеет право копировать, публиковать, распространять открытые данные, видоизменять открытые данные и объединять их с другой информацией, использовать открытые данные в коммерческих целях, использовать для создания программ для ЭВМ и приложений.
            P.before-list
                | При использовании открытых данных Пользователь обязан соблюдать следующие условия:
            ul.list
                li использовать открытые данные только в законных целях; 
                li убедиться, что он не искажает открытые данные при их использовании;
                li сохранять ссылку на источник информации при использовании открытых данных и, по возможности, дать ссылку на соглашение, в соответствии с которым используются открытые данные.
            P
                | При несоблюдении пользователем условий соглашения права, предоставленные пользователю в соответствии с соглашением, автоматически прекращаются.




