mixin header-social-menu(data)
	ul.header-social-menu
		li
			a.icon-link.icon-link_special(href="#", title="Версия для слабовидящих")
		li
			div.lang-switcher
				span.lang-switcher__link.lang-switcher__link_active(href="#", title="") RU /
				| 
				a.lang-switcher__link EN
		li
			a.icon-link.icon-link_instagram(href="#", title="Instagram")
			a.icon-link.icon-link_facebook(href="#", title="Facebook") 
			a.icon-link.icon-link_twitter(href="#", title="Twitter") 

