mixin news-main(data)
    div.news-main-item.news-main-item_first
        header.anons__header.show_in_special.spec_mb30
            a.anons__all(href="/press-center/")
                span
                    |Все новости
            h1
                |Новости ФАНО России

        a(href="#")
            img.news-main__image(src="%=staticPrefix=%img/content/news1.jpg")
        div.news-main__text
            p.news-main__stat
                time 19.09.2015
                a(href="#") Новости
            a.news-main__title
               span ФАНО России создаст междисциплинарный научный центр в Кабардино-Балкарии
            .news-main__content
                p
                    | Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного
                    | юридического лица упростит и повысит эффективность
                    | юридического лица упростит и повысит эффективность
                    | юридического лица упростит и повысит эффективность
                    | юридического лица упростит и повысит эффективность
                    | юридического лица упростит и повысит эффективность

     .row.row-9
        ul.news-main-list
            li.news-main-item.column.large-3.small-3
                a(href="#").news-main__imagebox
                    img.news-main__image(src="%=staticPrefix=%img/content/news2.jpg")
                div.news-main__text
                    p.news-main__stat
                        time 21.09.2015
                        a(href="#") События
                    a.news-main__title
                       span Владимир Путин осмотрел Приморский океанариум
            li.news-main-item.column.large-3.small-3
                a(href="#").news-main__imagebox.news-main__imagebox_video
                    img.news-main__image(src="%=staticPrefix=%img/content/news3.jpg")
                div.news-main__text
                    p.news-main__stat
                        time 21.09.2015
                        a(href="#") Интервью
                    a.news-main__title
                       span Интервью Михаила Котюкова телеканалу РБК

            li.news-main-item.column.large-3.small-3
                a(href="#").news-main__imagebox
                    img.news-main__image(src="%=staticPrefix=%img/content/news4.jpg")
                div.news-main__text
                    p.news-main__stat
                        time 21.09.2015
                        a(href="#") Новости науки
                    a.news-main__title
                       span В Крыму создадут 7 федеральных государственных научных учреждений ФАНО


