mixin star_rating(data)
    .star-rating
        p.star-rating__header
            | Проголосовать
        div.star-rating__list
            a.star-rating-item.star-rating-item_active(href="#")
            a.star-rating-item.star-rating-item_active(href="#")
            a.star-rating-item.star-rating-item_active(href="#")
            a.star-rating-item(href="#")
            a.star-rating-item(href="#")