.anons {
	margin-bottom:30px;

}
	.anons__header {
		border-bottom:2px solid #b0bec5;
		@extend .cf;

        .special & {
            border-color: $black;
        }
        .special.color2 & {
            border-color: $white;
        }
        .special.color3 & {
            border-color: $specblue1;
        }

		h1, .h1 {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			margin:0 0 2px;
			@include link;

            .special & {
                font-size: 18px;
                letter-spacing: normal;
                font-family: $body-font-family;
                color: $black;
            }
            .special.color2 & {
                color: $white;
            }
            .special.color3 & {
                color: $specblue1;
            }

		}
		.anons__all {
			float: right;
			font-size: 13px;
			margin-top: 5px;
			text-decoration: none;

            .special & {
                font-size: 16px;
            }

			span {
				@include black-link-decorated;
			}


		}
	}
	.anons__content {
		padding-top:15px;
		.page__left &, .page-content & {
			padding-top:30px;
		}
	}

	.anons__links {
		@include nl;
		font-size: 15px;

        .special & {
            font-size: 2rem;
        }

		li {
			padding:10px 0;
			border-bottom:1px solid #e9edef;

            .special & {
                border-color: $black;
            }
            .special.color2 & {
                border-color: $white;
            }
            .special.color3 & {
                border-color: $specblue1;
            }

			&:first-child {
				padding-top:0;
			}
		}
		a {
			@include black-link;
		}
	}

.anons-list {
	@include nl;
	li {
		margin-bottom:20px;
		p a {
			@include black-link-decorated;
		}
	}
	time {
		color:#607d8b;
		font-size: 15px;
		margin-bottom: 5px;
		display: block;

        .special & {
            font-size: 2.2rem;
            line-height: normal;
            color: $black;
        }
        .special.color2 & {
            color: $white;
        }
        .special.color3 & {
            color: $specblue1;
        }
	}
	p {
		font-size: 17px;
		line-height: 22px;

        .special & {
            font-size: 2rem;
            line-height: normal;
        }
	}
	.news-main__stat {
		time {
			@extend .ib-t;
		}
	}
}

.anons-list_icon {
	padding-left:40px;
	position: relative;
	margin-bottom:30px;

    .special & {
        padding-left: 0;
    }

	p a {
		@include black-link;

	}
	&:before {
		content:'';
		position: absolute;
		left:0;
		top:0;
	}

}

.anons-list_docs {
	li {
		@extend .anons-list_icon;
		&:before {
			@include bg-svg($doc);
            background: url(%=staticPrefixForCss=%minified-svg/doc.svg) 0 0 no-repeat;
            .special & {
                display: none;
            }
		}
	}

    .special & p {
        font-size: 2rem;
    }
}
.anons-list_questions {
	li {
		@extend .anons-list_icon;

        p a {
            .special & {
                font-size: 2rem;
            }

        }
		&:before {
			width:33px;
			height:33px;
			background: url(%=staticPrefixForCss=%general/question.png) 0 0 no-repeat;

            .special & {
                display: none;
            }
		}
	}
}


.cite {

	blockquote {
		position: relative;
		padding:0 15px 0 30px;
		color:$seablue;
		font-size: 15px;
		line-height:20px;

        .special & {
            padding:0 28px 0 28px;
            font-size: $base-font-size_special;
            line-height: normal;
            color: $black;
        }
        .special.color2 & {
            color: $white;
        }
        .special.color3 & {
            color: $specblue1;
        }

		&:before,
		&:after {
			color:$blue;
			font-size: 48px;
			line-height: 21px;
			position: absolute;

            .special & {
                color: $black;
            }
            .special.color2 & {
                color: $white;
            }
            .special.color3 & {
                color: $specblue1;
            }
		}
		&:before {
			content:"«";
			top:0;
			left:0;
		}
		&:after {
			content:"»";
			bottom:-5px;
			right:0;
		}
	}
	&:after {
		content:'';
		display: block;
		margin-top:10px;
		border-bottom:1px solid #e9edef;

        .special & {
            border-color: $black;
        }
        .special.color2 & {
            border-color: $white;
        }
        .special.color3 & {
            border-color: $specblue1;
        }
	}
}

.cite__stat {
	display: block;
	text-align: right;
	margin-top:25px;
	margin-bottom:15px;
	time {
		color:$seablue;
		display: inline;
		font-size: 15px;
		margin-bottom: 2px;

        .special & {
            font-size: $base-font-size_special;
            color: $black;
        }
        .special.color2 & {
            color: $white;
        }
        .special.color3 & {
            color: $specblue1;
        }

	}
	.cite__author {
		margin-bottom:10px;
		display: block;

        .special & {
            font-size: $base-font-size_special;
        }
	}
	.cite__link {
		@include black-link-decorated;
		font-size: 13px;

        .special & {
            font-size: $base-font-size_special;
        }
	}

}


