.ui-selectmenu-menu {
	position: relative;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid $seablue;
	
}
.ui-selectmenu-menu .jspContainer {
	
}

.ui-selectmenu-menu.form-select-6 {
	
}

.ui-menu .ui-menu-item.ui-state-focus {
	background: #ecf8fe;
	border:0;
	margin:0;
}
.ui-selectmenu-menu .ui-widget-content {
	border:0;
}
.ui-menu .ui-menu-item {
	padding:5px 10px 4px;
}
