include ../paginator/paginator
include ../filter/filter

mixin news-head(section)
	if (section)
		div.news-main__stat
			time 19.09.2015
			a(href="#") #{section}
	else
		div.news-main__stat.news-main__stat_nolink
			time 19.09.2015
				

mixin page_news_list(data)
	section.page-content
		header.page-content-header
			h1 Информационные материалы

		if (data)
			if (data.all)
				+filter('press3')
			else 
				+filter('press2')
		else
			+filter('press')
	
		if (data)
			ul.news-list
				li
					if (data.all)
						+news-head("Новости")
					else 
						+news-head
					a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					if (data.all)
						+news-head("Интервью")
					else 
						+news-head
					a.news-list__title(href="/news_one.html") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность
				li
					if (data.all)
						+news-head("Событие")
					else 
						+news-head
					a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					if (data.all)
						+news-head("Событие")
					else 
						+news-head
					a.news-list__title(href="/news_one.html") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					if (data.all)
						+news-head("Новости")
					else 
						+news-head
					
					a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					if (data.all)
						+news-head("Событие")
					else 
						+news-head
					a.news-list__title(href="/news_one.html") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность
		else
			ul.news-list
				li
					div.news-main__stat
						time 19.09.2015
						a(href="#") Новости
					
					a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					div.news-main__stat
						time 19.09.2015
						a(href="#") Новости
					
					a.news-list__title(href="/news_one.html") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность
				li
					div.news-main__stat
						time 19.09.2015
						a(href="#") Новости
					
					a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					div.news-main__stat
						time 19.09.2015
						a(href="#") Новости
					
					a.news-list__title(href="/news_one.html") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					div.news-main__stat
						time 19.09.2015
						a(href="#") Новости
					
					a.news-list__title(href="/news_one.html") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

				li
					div.news-main__stat
						time 19.09.2015
						a(href="#") Новости
					
					a.news-list__title(href="/news_one.html") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					div.news-list__content
						| Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность

		+paginator(true)
