include ../paginator/paginator

mixin page_structure_head(data)
	section.page-content
		header.page-content-header
			h1 Котюков Михаил Михайлович

		div.structure-head-card
			img.structure-head-card__image(src="%=staticPrefix=%img/content/str1.jpg", alt="")
			p.structure-head-card__job
				| Руководитель ФАНО России 

		div.tabs.js-tabs
			ul.tabs-handles
				li.tabs-handles-item.tabs-handles-item_active
					a(href="#functions").js-tabs-handle
						| Полномочия и функции
				li.tabs-handles-item
					a(href="#biography").js-tabs-handle
						| Биография
				li.tabs-handles-item
					a(href="#contacts").js-tabs-handle
						| Контакты
				li.tabs-handles-item
					a(href="#interviews").js-tabs-handle
						| Интервью
				li.tabs-handles-item
					a(href="#news").js-tabs-handle
						| Новости

			div.tabs-contents
				div.content.tab-contents-item.js-tabs-item#js-tab-functions
					h3 Полномочия
					p Руководитель Федерального агентства научных организаций назначается на должность Правительством Российской Федерации по согласованию с Президентом Российской Федерации.
					h3 Функции
					p Федеральное агентство научных организаций в своей деятельности руководствуется Конституцией Российской Федерации, федеральными конституционными законами, международными договорами Российской Федерации, федеральными законами, актами Президента Российской Федерации и Правительства Российской Федерации, а также Постановлением Правительства Российской Федерации от 25 октября 2013 года №959.
					h3 Публичные цели 
					h4 Цель 1
					ul.list
						li Совершенствование структуры научных организаций, подведомственных ФАНО России;
						li Развитие кадрового потенциала научных организаций и формирование кадрового  резерва;  
						li Повышение информационной открытости ФАНО России; 
						li Формирование системы оценки результативности научных организаций.
					h4 Цель 2
					ul.list
						li Совершенствование структуры научных организаций, подведомственных ФАНО России;
						li Развитие кадрового потенциала научных организаций и формирование кадрового  резерва;  
						li Повышение информационной открытости ФАНО России; 
						li Формирование системы оценки результативности научных организаций.

					h3 Подчиненные управления
					ul.links-list
						li 
							a(href="#") Отдел по защите государственной тайны
						li 
							a(href="#") Отдел мобилизационной подготовки и гражданской обороны
						li 
							a(href="#") Административное управление
						li 
							a(href="#") Правовое управление
						li 
							a(href="#") Управление внутреннего финансового контроля
						li 
							a(href="#") Финансовое управление

				div.content.tab-contents-item.js-tabs-item#js-tab-biography.js-hidden
					p Михаил Михайлович Котюков родился 21 декабря 1976 года в Красноярске.
					p В 1999 году окончил Красноярский государственный университет по специальности «финансы и кредит».
					p С 1997 года работал в главном финансовом управлении администрации Красноярского края экономистом, затем начальником отдела.
					p С 2001 года — начальник финансового отдела ОАО «Красноярскагропромдорстрой».
					p С 2002 года — главный специалист, начальник отдела инвестиционных ресурсов и экологии администрации Красноярска.
					p С 2003 года — в администрации Красноярского края, был заместителем начальника главного финансового управления, а затем первым заместителем главы департамента финансов.
					p В марте—июле 2007 года занимал пост проректора по экономике и финансам Сибирского федерального университета.
					p В июле 2007 года назначен заместителем губернатора Александра Хлопонина — главой департамента финансов Красноярского края.
				
				div.content.tab-contents-item.js-tabs-item#js-tab-contacts.js-hidden
					h3 Приемная
					p 
						| Контактный телефон: +7 (499) 606-01-01 <br />
						| Адрес электронной почты: management@fano.ru
					h3 Личный прием
					p 
						| Дни приема: IV-я среда каждого месяца <br />
						| Время приема: 15:00 - 17:00

				div.content.tab-contents-item.js-tabs-item#js-tab-interviews.js-hidden.ajax-loading
					
					//
						.row
							.large-6.small-6.columns
								ul.anons-list
									li
										time 26.09.2015
										p 
											a(href="#") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
									li
										time 24.09.2015
										p 
											a(href="#") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
									li
										time 26.09.2015
										p 
											a(href="#") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
									li
										time 24.09.2015
										p 
											a(href="#") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
							.large-6.small-6.columns
								ul.anons-list
									li
										time 22.09.2015
										p 
											a(href="#") Ученого Физического института имени П.Н. Лебедева наградили Орденом
									li
										time 18.09.2015
										p 
											a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
									li
										time 16.09.2015
										p 
											a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
									li
										time 22.09.2015
										p 
											a(href="#") Ученого Физического института имени П.Н. Лебедева наградили Орденом
									li
										time 18.09.2015
										p 
											a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
									li
										time 16.09.2015
										p 
											a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
						+paginator
					
				div.content.tab-contents-item.js-tabs-item#js-tab-news.js-hidden
					.row
						.large-6.small-6.columns
							ul.anons-list
								li
									time 22.09.2015
									p 
										a(href="#") Ученого Физического института имени П.Н. Лебедева наградили Орденом
								li
									time 18.09.2015
									p 
										a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
								li
									time 16.09.2015
									p 
										a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
								li
									time 22.09.2015
									p 
										a(href="#") Ученого Физического института имени П.Н. Лебедева наградили Орденом
								li
									time 18.09.2015
									p 
										a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея
								li
									time 16.09.2015
									p 
										a(href="#") Михаил Котюков осмотрел обновленную экспозицию Палеонтологического музея

						.large-6.small-6.columns
							ul.anons-list
								li
									time 26.09.2015
									p 
										a(href="#") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
								li
									time 24.09.2015
									p 
										a(href="#") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
								li
									time 26.09.2015
									p 
										a(href="#") В Пущинском научном центре прошел IV Международный молодежный форум «Основные направления сотрудничества молодых ученых России и Китая в области науки»
								li
									time 24.09.2015
									p 
										a(href="#") III Национальная ежегодная выставка-форум ВУЗПРОМЭКСПО-2015 пройдет в Москве 2 - 4 декабря 2015 г.
					+paginator
