include ../star_rating/star_rating


mixin page_mediagallery_video(data)
	section.page-content.page-content_one
		div.page-content-rating 
			.circle-rating(data-score="3.5")
				strong
				span (144)
			+star_rating
		header.page-content-header
			h1 ФАНО России создаст междисциплинарный научный центр в Кабардино-Балкарии	
			div.page-content-header__stats
				p.news-main__stat.news-main__stat_nolink
					time 19.09.2015

		.content
			video(width='712', height='450')
				source(src='%=staticPrefix=%img/content/video1.mp4', title='ФАНО России создаст междисциплинарный научный центр в Кабардино-Балкарии')
				source(src='%=staticPrefix=%img/content/video2.mp4', title='ФАНО России центр в Кабардино-Балкарии ')
				source(src='%=staticPrefix=%img/content/video1.mp4', title='ФАНО России создаст междисциплинарный научный центр в Кабардино-Балкарии')
				source(src='%=staticPrefix=%img/content/video2.mp4', title='ФАНО России центр в Кабардино-Балкарии ')

			p Рабочая группа по взаимодействию ФАНО России с РАН по структуризации научных организаций одобрила создание на базе Кабардино-Балкарского НЦ междисциплинарного научного центра. Он объединит ряд местных научных институтов. Среди приоритетных задач – фундаментальные <br />и прикладные исследования в области робототехники, искусственного интеллекта, математического моделирования развития региона.
			p Участники рабочей группы ФАНО России и РАН одобрили объединение в следующем формате: Кабардино-Балкарский научный центр, Институт информатики и проблем регионального управления, Институт прикладной математики и автоматизации, Кабардино-Балкарский институт  гуманитарных исследований и Кабардино-Балкарский научно-исследовательский институт сельского хозяйства. <br />В результате реорганизации будет образована новая структура – Федеральное государственное бюджетное учреждение науки Кабардино-Балкарский научный центр Российской академии наук.
			p Как отметил руководитель Кабардино-Балкарского научного центра Петр Иванов, работа институтов в рамках одного юридического лица упростит и повысит эффективность научной координации между ними, что в свою очередь позволит активизировать работы по ряду направлений, приоритетных для региона и страны в целом.
			p «В настоящее время финансирование каждой из научных организаций, входящих <br />в Кабардино-Балкарский научный центр строится по монодисциплинарному принципу, что приводит <br />к их полному отрыву друг от друга. Выходом из такой ситуации мы видим в интеграции всех перечисленных научных организаций в единый региональный научный центр. Такая интеграция позволит вовлечь региональные институты в реализацию полного цикла инновационной цепи: фундаментальная наука, прикладная наука, коммерциализация научных результатов <br />и потребительский сектор», - подчеркнул он.
			p Среди приоритетных направлений работы будущего центра П. Иванов выделил фундаментальные и прикладные исследования в области информационно-коммуникационных технологий, искусственного интеллекта, мультиагентных робототехнических систем, математического моделирования развития региона, процессов трансформации общества на Северном Кавказе.
			p Первый заместитель руководителя ФАНО России Алексей Медведев, в свою очередь, сообщил, что Правительство РФ одобрило план структуризации сети научных организаций ФАНО России. И одобренный рабочей группой проект по интеграции научных институтов Кабардино-Балкарии будет реализован в рамках этого плана.
			p В настоящий момент в интеграционных процессах задействовано 96 организаций ФАНО России. Кроме того, в адрес Агентства поступили обращения от еще 286 организаций с предложениями принять участие в интеграционных проектах.
			


			
