mixin navigation(data, active)
	div.navigation
		a.hamburger-icon.js-navigation-handle
		ul.navigation-menu
			each val in data.links 
				if (active != "" && active == val.name)
					li.navigation-item.navigation-item_active
						a(href=val.url)=val.title 
				else
					li.navigation-item
						a(href=val.url)=val.title 
		div.navigation-hidden#js-navigation-hidden
			ul.navigation-menu-hidden
				li
					a(href="#") О ФАНО России
					a(href="#") Руководство
					a(href="#") Центральный аппарат
					a(href="#") Территориальные управления
					a(href="#") Подведомственные организации
					a(href="#") Госслужба в ФАНО России
					a(href="#") Государственные услуги и функции
					a(href="#") Контакты
					a(href="#") Документы
					a(href="#") Проекты документов
					a(href="#") Планы нормотворческой деятельности
					a(href="#") Антикоррупционная экспертиза
				li
					a(href="#") Научно-координационный совет
					a(href="#") Организация и проведение научных исследований
					a(href="#") Развитие кадрового потенциала научных организаций
					a(href="#") Исследовательская инфраструктура научных организаций
					a(href="#") Информационное обеспечение научных организаций
					a(href="#") Инновации/коммерциализация разработок научных организаций
					a(href="#") Развитие имущественного комплекса научных организаций
					a(href="#") Бюджетирование научных организаций
					a(href="#") Система управления научных организаций
					a(href="#") Взаимодействие научных организаций с ФАНО России
					a(href="#") Международная деятельность научных организаций
				li
					a(href="#") Новости
					a(href="#") Информация для СМИ
					a(href="#") Подписка
				li
					a(href="#") Новости
					a(href="#") Информация для СМИ
					a(href="#") Подписка
				li
					a(href="#") Планирование деятельности
					a(href="#") Контрольно-ревизионная деятельность
					a(href="#") Госзакупки
					a(href="#") Противодействие коррупции
					a(href="#") Координационные и совещательные органы
					a(href="#") Открытые данные
				li
					a(href="#") Планирование деятельности
					a(href="#") Контрольно-ревизионная деятельность
					a(href="#") Госзакупки
					a(href="#") Противодействие коррупции
					a(href="#") Координационные и совещательные органы
					a(href="#") Открытые данные
			
